section.search.py-5.ps-4
    .container
        .row
            .col-md-6
                input(
                    type="text"
                    placeholder="Search By Name"
                    class="form-input"
                    id ="sName"
                    ) 
            .col-md-6
                input(
                    type="text"
                    placeholder="search By First Letter..."
                    class="form-input"
                    id ="sLetter"
                    ) 
        .row#search.justify-content-center.g-5

                